<div class="header box">
<p><strong>Welcome to KoolSharks Test Home page</strong></p>
</div>

<div class="container">

<div class="span-2 colborder caps"> Choose appropriate link
</div>

<div class="span-16 last">

<a href="basictests.html">Basic Tests page</a>
<br/>
<br/>
<a href="testlinks.html">Test page links</a>
<br/>
<br/>
<a href="playvideo.html">Goto Video page</a>
<br/>
<br/>
<a href="SunSpider2009/sunspider-driver.html">SunSpider 0.9 downloads each test separately</a>
<br/>
<br/>
<a href="SunSpider/hosted/sunspider-0.9/driver.html">SunSpider 0.9</a>
<br/>
<br/>
<a href="SunSpider/hosted/sunspider-0.9.1/driver.html">SunSpider 0.9.1</a>
<br/>
<br/>
<a href="test404">returns 404 error page</a>
<br/>
<br/>
<a href="basic_auth">Http Basic auth (use "admin" and "123")</a>
<br/>
<br/>
<a href="digest_auth">Http Digest auth (use "admin" and "123")</a>
<br/>
<br/>
<a href="#" onClick="alert('Hello!');return false">Click to get an alert 'Say Hi'</a>
<br/>
<br/>
<a href="images/rails.png" target="_blank">Download Rails.png Link</a> 
<br/>
<br/>
<a href="gifts">Show me my gifts - List/edit/delete</a> 
</div>

</div>
