<p>Welcome to KoolSharks home page for test</p>

<a href="SunSpider/hosted/sunspider-0.9/driver.html">SunSpider 0.9</a>
<br/>
<a href="SunSpider/hosted/sunspider-0.9.1/driver.html">SunSpider 0.9.1</a>
<br/>
<a href="test404">returns 404 error page</a>
