<!DOCTYPE html>
<html>
<head>
  <title>KoolShark</title>
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
